JavaApplication7/xml-resources/web-service-references/Registro/wsdl/localhost_8080/WS/Registro.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://registro/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://registro/" name="Registro">
<types>
<xsd:schema>
<xsd:import namespace="http://registro/" schemaLocation="http://localhost:8080/WS/Registro?xsd=1"/>
</xsd:schema>
</types>
<message name="rendaCount">
<part name="parameters" element="tns:rendaCount"/>
</message>
<message name="rendaCountResponse">
<part name="parameters" element="tns:rendaCountResponse"/>
</message>
<message name="etniaCount">
<part name="parameters" element="tns:etniaCount"/>
</message>
<message name="etniaCountResponse">
<part name="parameters" element="tns:etniaCountResponse"/>
</message>
<message name="sexoCount">
<part name="parameters" element="tns:sexoCount"/>
</message>
<message name="sexoCountResponse">
<part name="parameters" element="tns:sexoCountResponse"/>
</message>
<message name="idadeCount">
<part name="parameters" element="tns:idadeCount"/>
</message>
<message name="idadeCountResponse">
<part name="parameters" element="tns:idadeCountResponse"/>
</message>
<message name="orientacaoCount">
<part name="parameters" element="tns:orientacaoCount"/>
</message>
<message name="orientacaoCountResponse">
<part name="parameters" element="tns:orientacaoCountResponse"/>
</message>
<message name="empregoCount">
<part name="parameters" element="tns:empregoCount"/>
</message>
<message name="empregoCountResponse">
<part name="parameters" element="tns:empregoCountResponse"/>
</message>
<message name="deficienciaCount">
<part name="parameters" element="tns:deficienciaCount"/>
</message>
<message name="deficienciaCountResponse">
<part name="parameters" element="tns:deficienciaCountResponse"/>
</message>
<message name="escolaridadeCount">
<part name="parameters" element="tns:escolaridadeCount"/>
</message>
<message name="escolaridadeCountResponse">
<part name="parameters" element="tns:escolaridadeCountResponse"/>
</message>
<portType name="Registro">
<operation name="rendaCount">
<input wsam:Action="http://registro/Registro/rendaCountRequest" message="tns:rendaCount"/>
<output wsam:Action="http://registro/Registro/rendaCountResponse" message="tns:rendaCountResponse"/>
</operation>
<operation name="etniaCount">
<input wsam:Action="http://registro/Registro/etniaCountRequest" message="tns:etniaCount"/>
<output wsam:Action="http://registro/Registro/etniaCountResponse" message="tns:etniaCountResponse"/>
</operation>
<operation name="sexoCount">
<input wsam:Action="http://registro/Registro/sexoCountRequest" message="tns:sexoCount"/>
<output wsam:Action="http://registro/Registro/sexoCountResponse" message="tns:sexoCountResponse"/>
</operation>
<operation name="idadeCount">
<input wsam:Action="http://registro/Registro/idadeCountRequest" message="tns:idadeCount"/>
<output wsam:Action="http://registro/Registro/idadeCountResponse" message="tns:idadeCountResponse"/>
</operation>
<operation name="orientacaoCount">
<input wsam:Action="http://registro/Registro/orientacaoCountRequest" message="tns:orientacaoCount"/>
<output wsam:Action="http://registro/Registro/orientacaoCountResponse" message="tns:orientacaoCountResponse"/>
</operation>
<operation name="empregoCount">
<input wsam:Action="http://registro/Registro/empregoCountRequest" message="tns:empregoCount"/>
<output wsam:Action="http://registro/Registro/empregoCountResponse" message="tns:empregoCountResponse"/>
</operation>
<operation name="deficienciaCount">
<input wsam:Action="http://registro/Registro/deficienciaCountRequest" message="tns:deficienciaCount"/>
<output wsam:Action="http://registro/Registro/deficienciaCountResponse" message="tns:deficienciaCountResponse"/>
</operation>
<operation name="escolaridadeCount">
<input wsam:Action="http://registro/Registro/escolaridadeCountRequest" message="tns:escolaridadeCount"/>
<output wsam:Action="http://registro/Registro/escolaridadeCountResponse" message="tns:escolaridadeCountResponse"/>
</operation>
</portType>
<binding name="RegistroPortBinding" type="tns:Registro">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="rendaCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="etniaCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sexoCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="idadeCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="orientacaoCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="empregoCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deficienciaCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="escolaridadeCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Registro">
<port name="RegistroPort" binding="tns:RegistroPortBinding">
<soap:address location="http://localhost:8080/WS/Registro"/>
</port>
</service>
</definitions>